In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [4]:
data = pd.read_csv("processed_data1.csv")
data.head(1)

,Unnamed: 0,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,12022,1,789096,1,710,3407460,2,3,13601.34,9.5,0,5,0,183749,401456,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34961 entries, 0 to 34960
Data columns (total 17 columns):
Unnamed: 0                      34961 non-null int64
Loan Status                     34961 non-null int64
Current Loan Amount             34961 non-null int64
Term                            34961 non-null int64
Credit Score                    34961 non-null int64
Annual Income                   34961 non-null int64
Home Ownership                  34961 non-null int64
Purpose                         34961 non-null int64
Monthly Debt                    34961 non-null float64
Years of Credit History         34961 non-null float64
Months since last delinquent    34961 non-null int64
Number of Open Accounts         34961 non-null int64
Number of Credit Problems       34961 non-null int64
Current Credit Balance          34961 non-null int64
Maximum Open Credit             34961 non-null int64
Bankruptcies                    34961 non-null int64
Tax Liens                       34961 non-null int64
dtypes: float64(2), int64(15)
memory usage: 4.5 MB

In [6]:
data.isnull().sum()

Unnamed: 0                      0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Annual Income                   0
Home Ownership                  0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [7]:
data.dropna(inplace=True)

In [8]:
data.isnull().any()

Unnamed: 0                      False
Loan Status                     False
Current Loan Amount             False
Term                            False
Credit Score                    False
Annual Income                   False
Home Ownership                  False
Purpose                         False
Monthly Debt                    False
Years of Credit History         False
Months since last delinquent    False
Number of Open Accounts         False
Number of Credit Problems       False
Current Credit Balance          False
Maximum Open Credit             False
Bankruptcies                    False
Tax Liens                       False
dtype: bool

In [9]:
data.head(5)

,Unnamed: 0,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,12022,1,789096,1,710,3407460,2,3,13601.34,9.5,0,5,0,183749,401456,0,0
1,66926,1,789096,1,662,2112629,0,1,39541.28,17.5,12,16,0,563844,766282,0,0
2,76954,1,789096,1,695,3863080,0,3,42493.88,19.7,3,13,0,536959,712184,0,0
3,43498,1,789030,1,719,2375247,0,1,54630.89,16.8,0,11,0,569677,1208108,0,0
4,4279,1,788942,1,664,3309458,2,3,28406.33,12.6,18,6,0,633308,1126422,0,0

In [12]:
data.columns

Index(['Unnamed: 0', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [13]:
# data.drop[['Unnamed:0'],axis=1,inplace=True]
data.drop(['Unnamed: 0'],axis=1,inplace = True)

In [14]:
type(data)

pandas.core.frame.DataFrame

In [15]:
X = data.iloc[:,1:16]
Y = data.iloc[:, 0]

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34961 entries, 0 to 34960
Data columns (total 15 columns):
Current Loan Amount             34961 non-null int64
Term                            34961 non-null int64
Credit Score                    34961 non-null int64
Annual Income                   34961 non-null int64
Home Ownership                  34961 non-null int64
Purpose                         34961 non-null int64
Monthly Debt                    34961 non-null float64
Years of Credit History         34961 non-null float64
Months since last delinquent    34961 non-null int64
Number of Open Accounts         34961 non-null int64
Number of Credit Problems       34961 non-null int64
Current Credit Balance          34961 non-null int64
Maximum Open Credit             34961 non-null int64
Bankruptcies                    34961 non-null int64
Tax Liens                       34961 non-null int64
dtypes: float64(2), int64(13)
memory usage: 4.3 MB

In [17]:
X.head(2)

,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,789096,1,710,3407460,2,3,13601.34,9.5,0,5,0,183749,401456,0,0
1,789096,1,662,2112629,0,1,39541.28,17.5,12,16,0,563844,766282,0,0

In [18]:
Y

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
34931    1
34932    0
34933    0
34934    0
34935    0
34936    0
34937    0
34938    1
34939    0
34940    0
34941    0
34942    0
34943    0
34944    1
34945    0
34946    0
34947    1
34948    0
34949    1
34950    1
34951    1
34952    1
34953    1
34954    1
34955    1
34956    1
34957    1
34958    1
34959    1
34960    0
Name: Loan Status, Length: 34961, dtype: int64

In [19]:
nam = X.columns
nam

Index(['Current Loan Amount', 'Term', 'Credit Score', 'Annual Income',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [20]:
type(Y)

pandas.core.series.Series

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=100)

In [22]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

C:\Users\Tony Stark\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\Tony Stark\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

# Decision Tree Classifier with criterea gini index

In [23]:
model_gini = DecisionTreeClassifier(criterion = "gini", random_state = 0,
                               max_depth=1, min_samples_leaf=200)
model_gini.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=1,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=200, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [24]:
Y_predicted_gini=model_gini.predict(X_test)

In [26]:
print("Confusion Matrix: \n",confusion_matrix(Y_test, Y_predicted_gini))

Confusion Matrix:
 [[6697   14]
 [2642 1136]]

In [27]:
print ("Accuracy : ",accuracy_score(Y_test, Y_predicted_gini)*100)

Accuracy :  74.67823434073792

In [28]:
print("Report : ", classification_report(Y_test, Y_predicted_gini))

Report :                precision    recall  f1-score   support

           0       0.72      1.00      0.83      6711
           1       0.99      0.30      0.46      3778

   micro avg       0.75      0.75      0.75     10489
   macro avg       0.85      0.65      0.65     10489
weighted avg       0.81      0.75      0.70     10489

In [29]:
a=list(Y_predicted_gini)
sum(a)

1150

# Decision Tree Classifier with criterea Entropy

In [30]:
model_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100, 
                            max_depth = 3, min_samples_leaf = 5) 
  
model_entropy.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [31]:
Y_predicted_entropy = model_entropy.predict(X_test)

In [32]:
print("Confusion Matrix: \n",confusion_matrix(Y_test, Y_predicted_gini,labels=[0,1]))

Confusion Matrix:
 [[6697   14]
 [2642 1136]]

In [33]:
print ("Accuracy : ",accuracy_score(Y_test, Y_predicted_gini)*100)

Accuracy :  74.67823434073792

In [34]:
print("Report : ", classification_report(Y_test, Y_predicted_gini))

Report :                precision    recall  f1-score   support

           0       0.72      1.00      0.83      6711
           1       0.99      0.30      0.46      3778

   micro avg       0.75      0.75      0.75     10489
   macro avg       0.85      0.65      0.65     10489
weighted avg       0.81      0.75      0.70     10489